@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --back-color: #fff;
  --font-color: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --back-color: #000;
    --font-color: #fff;
  }
}

body {
  color: var(--font-color);
  background: var(--back-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
